
<div class="container-fluid">
    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <strong>Tipo Norma</strong>
            </div>
        </div><hr>
           <button type="button" class="btn btn-success btn-sm" id="add-tipo_norma-form">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Añadir Tipo Norma
           </button><hr>


                <table class='display compact' style='width:100%' id='tipoNormaTable'>
                    <thead>
                        <th class='text-nowrap text-center'><span class='label label-default'>Descripción</span></th>
                        <th class='text-nowrap text-center'><span class='label label-warning'>Acciones</span></th>
                    </thead>

                        <tbody id="tipoNormaTableBody"></tbody>


                    </table>
                    <hr>

                    <div id="alert-info-tipo_norma"></div>

    </div>
</div>

<div id="contenedor-modal-maestro-tipo_norma"></div>
