
<div class="container-fluid">
    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <strong>Adicional Grado UR</strong>
            </div>
        </div><hr>
           <button type="button" class="btn btn-success btn-sm" id="add-adicional_grado-form">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Añadir Adicional Grado
           </button><hr>


                <table class='display compact' style='width:100%' id='adicionalGradoTable'>
                    <thead>
                        <th class='text-nowrap text-center'><span class='label label-default'>Nivel</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Grado</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Cantidad UR</span></th>
                        <th class='text-nowrap text-center'><span class='label label-warning'>Acciones</span></th>
                    </thead>

                        <tbody id="adicionalGradoTableBody"></tbody>


                    </table>
                    <hr>

                    <div id="alert-info-adicional_grado"></div>

    </div>
</div>

<div id="contenedor-modal-maestro-adicional_grado"></div>
